<h1>Listing class_activities</h1>

<table>
  <tr>
  </tr>

<% @class_activities.each do |class_activity| %>
  <tr>
    <td><%= link_to 'Show', class_activity %></td>
    <td><%= link_to 'Edit', edit_class_activity_path(class_activity) %></td>
    <td><%= link_to 'Destroy', class_activity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New class_activity', new_class_activity_path %>