<h1>New class_diy_activity</h1>

<% form_for(@class_diy_activity) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', class_diy_activities_path %>