<h1>Listing class_words</h1>

<table>
  <tr>
  </tr>

<% @class_words.each do |class_word| %>
  <tr>
    <td><%= link_to 'Show', class_word %></td>
    <td><%= link_to 'Edit', edit_class_word_path(class_word) %></td>
    <td><%= link_to 'Destroy', class_word, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New class_word', new_class_word_path %>