<h1>Editing class_student</h1>

<% form_for(@class_student) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @class_student %> |
<%= link_to 'Back', class_students_path %>