<h1>Listing class_students</h1>

<table>
  <tr>
  </tr>

<% @class_students.each do |class_student| %>
  <tr>
    <td><%= link_to 'Show', class_student %></td>
    <td><%= link_to 'Edit', edit_class_student_path(class_student) %></td>
    <td><%= link_to 'Destroy', class_student, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New class_student', new_class_student_path %>